@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Shadows+Into+Light&display=swap');

/* Structural settings */

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    
    color: #0E150E;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}

.main-container {
    width: 100%;
    margin: auto;
}

/* Navigation bar, navigation links and logo */

#nav-bar {
    background-color: #FFF9EA;
    height: 68px;
}

.main-header {
    width: 100%;
    top: 0;
    z-index: 3;
    position: -webkit-sticky; 
    position: sticky; 
}

.logo {
    font-family: 'Shadows Into Light', sans-serif;
    float: left;
    margin-left: 30px;
    margin-top: 8px;
}

.logo a {
    color: #00473c;
    text-decoration: none;
}
.nav-row ul {
    list-style-type: none;
    text-align: right;
    margin: auto;
    padding: 20px 0 0;
}

.nav-row ul li {
    float: none;
    display: inline-block;
}

.nav-row ul li a {
    color: #0E150E;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 3px 30px;
}

.nav-row a:hover {
    text-decoration: underline;
    text-underline-offset: 0.225rem;
}

#hero-img{
    background: url(../image/art-gallery1.jpg) center center no-repeat;
    background-size: cover;
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
}
#cover-text {
    background-color: rgba(202, 240, 234, .4);
    color: #0E150E;
    font-size: 170%;
    text-transform: uppercase;
    text-align: center;
    height: 250px;
    max-width: 400px;
    border-radius: 15px;
    float: left;
    margin: 0 75px;
    position: static;
}

#cover-text h2 {
    padding: 20px 25px;
}

/* Cover button hover effect */

#cover-button {
    background-color: #0E150E;
    height: 40px;
    max-width: 230px;
    border-radius: 15px;
    margin: 0 auto;
}

#cover-button h3 {
    font-size: 70%;
    letter-spacing: 2px;
    padding: 5px 4.5px;
    color: #FFF9EA;
}

#cover-button a {
    color: #FFF9EA;
    text-transform: capitalize;
    text-decoration: none;
}

#cover-button a:hover {
    background-color: #FFF9EA;
    color: #0E150E;
    border-radius: 10px;
}